.cancel_button {
    background-color: black;
    color: white;
    border: 0;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.save_button {
    background-color: black;
    color: white;
    border: 0;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 9px;
}